# <FilesMatch "(.*index.php.*|index.php/Admin)">
# Authtype Basic
# AuthName "Apache basic authentication"
# AuthUserFile /home2/sariab/public_html/.htpasswd
# Require valid-user
# </FilesMatch>

# Enable URLs rewrite
RewriteEngine On
# RewriteBase /

# Enable authentication
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Former urls must be still available for search engines
RewriteCond %{THE_REQUEST} \s/+view\.php\?id=([0-9]+)\s [NC]
# Redirect with QueryStringDiscard Flag
RewriteRule (.*) /Home/View/%1 [R=301,L,QSD]

# Former urls must be still available for website search
RewriteCond %{THE_REQUEST} \s/+index\.php\?q=(.*)\s [NC]
# Redirect with QueryStringDiscard Flag
RewriteRule (.*) /Home/Index/%1#Posts [R=301,L,QSD]

# Routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]

# Custom Error Codes
ErrorDocument 503 /static/errors/HTTP503.jpg