    /*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Podcast Section */

.podcast {
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    margin: 1rem 1rem;
    border-radius: .2em;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    color: white;
    background-color: #2E7D32;
    background-image: url('../img/podcast.png');
    background-position: center right;
    background-attachment: scroll;
    background-size: auto 80%;
    background-repeat: no-repeat;
}

audio:hover,
audio:focus,
audio:active {
    transform: scale(1.05);
}

audio {
    transition: all 0.5s linear;
    border-radius: 30px;
    outline: none;
}

/* Gallery Section */

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.gallery-item {
    position: relative;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: transform .6s linear;
}

.card {
    cursor: pointer;
    width: 285px;
    height: 285px;
}

.gallery-item-front,
.gallery-item-back {
    width: 100%;
    height: 100%;
    position: absolute;
    flex: 1 0 22rem;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: transform .6s linear;
    overflow: hidden;
}

.gallery-item-front {
    transform: perspective(600px) rotateY(0deg);
}

.gallery-item-back {
    transform: perspective(600px) rotateY(180deg);
    background: #4CAF50;
    padding: 3em;
    text-align: justify;
}

.card:hover>.gallery-item-front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover>.gallery-item-back {
    transform: perspective(600px) rotateY(0deg);
}

.gallery-item-back-content {
    color: #2c3e50;
    width: 100%;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
/*button gallery back*/

.gallery-item-back-content .buttons {
    border-radius: .2em;
    background-color: #2E7D32;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
}

.gallery-item-back .buttons {
    display: block;
    margin: 80px auto 0 auto;
}

.gallery-item-back-content .buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.gallery-item-back-content .buttons span:after {
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
    transform: perspective(600px) rotateY(180deg);
}

.gallery-item-back-content .buttons:hover span {
    padding-right: 15px;
}

.gallery-item-back-content .buttons:hover span:after {
    opacity: 1;
    right: 0;
}
/*title and Paragraf*/

.gallery-item-back-content .titles {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
    text-align: center;
}

.gallery-item-back-content .Paragraf {
    color: #000;
    font-size: 14px;
    text-align: justify;
    line-height: 1.8em;
}

/* Loader */

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
/* TODO */
}
/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}


@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }
}
