
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  left: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Categories Section */

.categories {
    align-items: center;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1em;
}

.categories li {
    display: inline-block;
    margin-left: 1em;
}

.categories li a {
    text-align: center;
    padding-right: 1em;
}

/* Podcast Section */

.podcast {
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    margin: 1rem 1rem;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
}

audio:hover,
audio:focus,
audio:active {
    transform: scale(1.05);
}

audio {
    transition: all 0.5s linear;
    outline: none;
}

/* Hub Section */
.hub {
    color: darkgray;
}
ol.hub li {
    margin-top: 3em;
}
.hub-controls {
    margin: 0 auto 0 auto;
    display: block;
    text-align: center;
}