/* Roads Section */
.roads {
    text-align: center;
    font-size: 2em;
    margin: 1em;
    align-items: center;
    list-style-type: none;
    border: 3rem;
}

.roads li {
    width: 15em;
    margin: .3em;
    display: inline-block;
    padding: 1.5em;
}

.roads li a {
    display: block;
    width: 100%;
    text-decoration: inherit;
    padding: 1rem;
    margin-left: 1rem;
    text-align: center;
}


/* Categories Section */

.categories {
    align-items: center;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1em;
}

.categories li {
    display: inline-block;
    margin-left: 1em;
}

.categories li a {
    text-align: center;
    padding-right: 1em;
}

/* Podcast Section */

.podcast {
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    margin: 1rem 1rem;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
}

audio:hover,
audio:focus,
audio:active {
    transform: scale(1.05);
}

audio {
    transition: all 0.5s linear;
    outline: none;
}

/* Hub Section */

