/* Headings */
.h1 {
    font-size: 3.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Font size */
.font-xxlarge {
    font-size: 3em;
}
.font-xlarge {
    font-size: 2em;
}
.font-large {
    font-size: 1.5em;
}
.font-small {
    font-size: .7em;
}


/* Border Radius */
.border-radius {
    border-radius: .5em;
}
.border-rounded {
    border-radius: 50%;
}

/* Forecolor */
.color-white {
    color:whitesmoke;
}
.color-dark {
    color: #093637;
}
.color-gold {
    color: #D4AF37;
}

/* Backcolor */
.background-white {
    background-color: whitesmoke;
}
.background-dark {
    background: #5ea044;  /* fallback for old browsers */
    background: -webkit-linear-gradient(21deg, #093637, #5ea044);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(21deg, #093637, #5ea044); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.background-gold {
    background: #D4AF37;
    background: -moz-linear-gradient(21deg, rgba(212,175,55,1) 0%, rgba(255,212,73,1) 35%, rgba(212,175,55,1) 100%);
    background: -webkit-linear-gradient(21deg, rgba(212,175,55,1) 0%, rgba(255,212,73,1) 35%, rgba(212,175,55,1) 100%);
    background: linear-gradient(21deg, rgba(212,175,55,1) 0%, rgba(255,212,73,1) 35%, rgba(212,175,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4af37",endColorstr="#d4af37",GradientType=1);
}

/* Scrolbar */

/* https://codepen.io/GhostRider/pen/GHaFw */
.overflow::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.overflow::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.overflow::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
                                    40% 0%,
                                    75% 84%,
                                    from(#4D9C41),
                                    to(#19911D),
                                    color-stop(.6,#54DE5D))
}