.submit-form {
    width: 85%;
    max-width: 600px;
    padding: 30px 40px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
}

.submit-form h1 {
    margin: 0 auto;
}

.submit-text {
    border: 1px solid gray;
}

.submit-text label {
    display: block;
    text-align: right;
    color: #333;
    margin-top: 6px;
    font-size: 1.5em;
}

.submit-text input,
.submit-text textarea {
    width: 100%;
    border: 1px solid gray;
    background: none;
    font-size: 1.2em;
    margin-top: 6px;
    padding: .5em;
}

.submit-btn {
    display: block;
    padding: 12px 0;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    font-size: 1.5em;
}