header {
    background-image: url('../../static/img/heart.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: scroll;
    background-size: 3em;
}

.item * {
    display: inline-block;
    text-align: right;
    direction: rtl;
}