header {
    background-image: url('../../static/img/heart.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: scroll;
    background-size: 3em;
}


.items {
    column-count: 2;
}

.item {
    width: 100%;
    padding: .25em;
    margin-bottom: .25em;
}

.item * {
    display: inline-block;
    text-align: right;
    direction: rtl;
}