/**/

.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 3rem;
    box-shadow: 0 1.4em 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}


/*Post Image*/

.blog-post__img {
    min-width: 35rem;
    max-width: 35rem;
    height: 32rem;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
}

.blog-post__img a {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: .8rem;
    margin: 0;
}

.blog-post__img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .8rem;
}


/*Post Description*/

.blog-post__date span {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post__title {
    font: 2.5rem;
    margin: 1.5rem 0 2rem;
}

.blog-post__text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
}


/*Post Buttom*/

.blog-post__cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 14px;
}


/*Post Close*/

.blog-post__close {
    font-size: 14px;
    margin: 0;
}


/*Close Tooltip*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 268px;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    font-size: 10px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*responsive Page*/

@media screen and (max-width:1068px) {
    .blog-post {
        max-width: 80rem;
    }
}

@media screen and (max-width:868px) {
    .blog-post {
        max-width: 70rem;
    }
}

@media screen and (max-width:768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }
    .blog-post__img {
        margin: 10px;
    }
    .blog-post__close {
        margin-right: 15px;
    }
}